<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AXIS</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/loading.css">
</head>
<body>
  <div id="loadingContainer" class="containers">
    <img src="/images/logo.svg" id="loadingLogo">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  <div id="nfcContainer" class="infoContainer containers" onclick="mobileCheckCancel()">
    <div class="elements headers sebang"><%= __('mobile_check') %></div>
    <div class="elements contents infoContents">
      <span class="number">1</span>
      <span><%= __('mobile_check_1') %></span>
      <img src="/images/nfc_1.png" class="infoImage" id="image1adjustment">
      <span class="number">2</span>
      <span><%= __('mobile_check_2') %></span>
      <img src="/images/nfc_2.png" class="infoImage">
    </div>
    <div class="elements interactions sebang infoInteractions"><%= __('mobile_check_cancel') %></div>
  </div>
  <div id="howtoContainer" class="infoContainer containers" onclick="howtoCancel()">
    <div class="elements headers sebang"><%= __('how_to') %></div>
    <div class="elements contents infoContents">
      <span class="number">1</span>
      <span><%= __('how_to_1') %></span>
      <img src="/images/howto_1.png" class="infoImage">
      <span class="number">2</span>
      <span><%= __('how_to_2') %></span>
      <img src="/images/howto_2.png" class="infoImage">
    </div>
    <div class="elements interactions sebang infoInteractions"><%= __('how_to_cancel') %></div>
  </div>
  <div id="waitContainer" class="containers" onclick="start()">
    <div class="elements headers sebang">
      <span>
        <%= __('welcome_to_1') %><span class="storeName">AXIS</span><%= __('welcome_to_2') %>
      </span>
    </div>
    <div class="elements contents">
      <div class="additButtonContainer">
        <a href="/ko" class="additButton<% if(__('lang') == 'ko') { %> selectedButton<% } %>">한국어</a>
        <a href="/en" class="additButton<% if(__('lang') == 'en') { %> selectedButton<% } %>">English</a>
        <a href="/cn" class="additButton<% if(__('lang') == 'cn') { %> selectedButton<% } %>">中文</a>
        <a href="/jp" class="additButton<% if(__('lang') == 'jp') { %> selectedButton<% } %>">日本語</a>
      </div>
    </div>
    <div class="elements interactions sebang">
      <span id="orderText1"><%= __('order_information_1') %></span>
      <span id="orderText2"><%= __('order_information_2') %></span>
      <img src="/images/clicking.svg" id="clicking">
    </div>
  </div>
  <div id="tempContainer" class="containers">
    <div class="elements headers sebang">
      <span>
        <%= __('welcome_to_1') %><span class="storeName">AXIS</span><%= __('welcome_to_2') %>
      </span>
    </div>
    <div class="elements contents">
      <div id="webcamOverlay">
        <span id="temperature" class="sebang"></span>
        <span id="alertText"></span>
        <span id="alertSubText"></span>
      </div>
      <video id="webcam" playsinline autoplay></video>
      <div class="additButtonContainer rightAlign displayNone">
        <span class="additButton selectedButton" onclick="mobileCheck()"><%= __('mobile_check') %></span>
        <span class="additButton selectedButton" onclick="howtoCheck()"><%= __('how_to') %></span>
      </div>
    </div>
    <div class="elements interactions">
      <div id="interactionsInformation">
        <%= __('camera_information') %>
      </div>
      <div id="progress">
        <div class="progressContainer">
          <img src="/images/arrow.png" class="arrow progressNow">
          <img src="/images/arrow.png" class="arrow">
          <img src="/images/arrow.png" class="arrow">
          <img src="/images/arrow.png" class="arrow">
        </div>
        <div class="progressContainer">
          <span class="progressText progressNow"><%= __('in_progress') %></span>
          <span class="progressText"><%= __('waiting') %></span>
          <span class="progressText"><%= __('waiting') %></span>
          <span class="progressText"><%= __('waiting') %></span>
        </div>
        <div id="progressIcons">
          <img src="/images/temp.png" class="progressIcon">
          <img src="/images/right-arrow.png" class="rightArrow">
          <img src="/images/code.png" class="progressIcon">
          <img src="/images/right-arrow.png" class="rightArrow">
          <img src="/images/food.png" class="progressIcon">
          <img src="/images/right-arrow.png" class="rightArrow">
          <img src="/images/check.png" class="progressIcon">
        </div>
        <div class="progressContainer">
          <span class="progressExplainText progressNow"><%= __('fever_check') %></span>
          <span class="progressExplainText"><%= __('qr_check') %></span>
          <span class="progressExplainText"><%= __('menu_selection') %></span>
          <span class="progressExplainText"><%= __('complete') %></span>
        </div>
      </div>
    </div>
  </div>
  <div id="menuContainer" class="containers">
    <div class="elements headers sebang">
      <%= __('menu_selection') %>
    </div>
    <div class="elements contents">
      <div id="menuImageContainer" class="menuContainer">
        <img src="/images/menu/햄버거1.png" id="menuImage">
      </div>
      <div id="menuText" class="menuContainer">
        <span id="menuNameSub" class="sebang">Hamburger</span>
        <span id="menuName" class="sebang">햄버거</span>
        <span id="menuPrice" class="sebang">4,900</span>
      </div>
      <div id="menuSelection" onscroll="menuScroll(this)">
        <div id="menuFocus">
          <div id="menuFocusImageContainer">
            <img src="/images/menu/햄버거1.png" id="menuFocusImage">
          </div>
          <div id="menuFocusButton" onclick="addToCart()">
            <img src="/images/checkmark.svg" id="menuFocusIcon">
            <span><%= __('select') %></span>
          </div>
        </div>
        <div class="menuEmpty"></div>
        <div id="menuList"></div>
        <div class="menuEmpty"></div>
      </div>
    </div>
    <div class="elements interactions">
      <div id="menuCategory"></div>
      <div id="menuBottom">
        <div id="menuCart">
          <div id="menuCartTitle">
            <span id="cartTitle"><%= __('order_list') %></span>
            <span id="cartAmount"><%= __('order_amount1') %> <span id="cartCount">0</span><%= __('order_amount2') %></span>
          </div>
          <div id="menuCartList"></div>
        </div>
        <div id="payment">
          <div id="paymentValueContainer">
            <span id="totalLeft"><%= __('total_amount1') %></span>
            <span id="totalRight" class="sebang"><span id="totalValue">0</span><%= __('total_amount2') %></span>
          </div>
          <div id="paymentButtonContainer">
            <span id="cancelBtn" class="paymentButton" onclick="cancelOrder()"><%= __('cancel') %></span>
            <span id="payBtn" class="paymentButton" onclick="placeOrder()"><%= __('pay') %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const lang = "<%= __('lang') %>";
    const api = "<%= api %>";
    const front = "<%= front %>";
    const orderHere = "<%= __('order_here') %>";
    const tempCheck = "<%= __('temp_check') %>";
    const feverWarning = "<%= __('fever_warn') %>";
    const feverWarningSub = "<%= __('fever_warn_sub') %>";
    const feverNormal = "<%= __('fever_normal') %>";
    const noMaskWarn = "<%= __('no_mask_warn') %>";
    const noMaskWarnSub = "<%= __('no_mask_warn_sub') %>";
    const complete = "<%= __('complete') %>";
    const inProgress = "<%= __('in_progress') %>";
    const codeCheck = "<%= __('code_check') %>";
    const qrcodeExplain =  "<%= __('qr_explain') %>";
    const mobile1 =  "<%= __('mobile_check_1') %>";
    const mobile2 =  "<%= __('mobile_check_2') %>";
    const mobile3 =  "<%= __('mobile_check_3') %>";
    const howto1 =  "<%= __('how_to_1') %>";
    const howto2 =  "<%= __('how_to_2') %>";
    const howto3 =  "<%= __('how_to_3') %>";
  </script>
  <script src="/js/main.js"></script>
</body>
</html>