<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AXIS</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/loading.css">
</head>
<body>
  <div id="loadingContainer" class="containers">
    <img src="/images/logo.svg" id="loadingLogo">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  <div id="waitContainer" class="containers" onclick="start()">
    <div class="elements headers">
      <span>
        <%= __('welcome_to_1') %><span class="storeName">액시스</span><%= __('welcome_to_2') %>
      </span>
    </div>
    <div class="elements contents">
      <div class="additButtonContainer">
        <a href="/ko" class="additButton<% if(__('lang') == 'ko') { %> selectedButton<% } %>">한국어</a>
        <a href="/en" class="additButton<% if(__('lang') == 'en') { %> selectedButton<% } %>">English</a>
        <a href="/cn" class="additButton<% if(__('lang') == 'cn') { %> selectedButton<% } %>">中文</a>
        <a href="/jp" class="additButton<% if(__('lang') == 'jp') { %> selectedButton<% } %>">日本語</a>
      </div>
    </div>
    <div class="elements interactions">
      <span id="orderText1"><%= __('order_information_1') %></span>
      <span id="orderText2"><%= __('order_information_2') %></span>
      <img src="/images/clicking.svg" id="clicking">
    </div>
  </div>
  <script>
    const api = "<%= api %>";
    const front = "<%= front %>";
  </script>
  <script src="/js/main.js"></script>
</body>
</html>